.navbar-content{
    display: flex;
    justify-content: space-between !important;
}

.banner{
    margin: 50px 0;
    background-color: rgb(248, 249, 250);
    padding: 50px ;
}
.banner h1{
    text-transform: capitalize;
    font-size: 60px;
}
.banner p{
    font-size: 20px;
}
.item{
    display: flex;
    gap: 10px;
    margin: 50px 0;

}
.footer{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    color: #fff;
}